---
const currentYear = new Date().getFullYear();
---

<footer class="bg-gray-100 py-8 text-gray-600">
  <div class="mx-auto px-8 text-center container">
    <p class="text-sm">&copy; {currentYear} Luis Hutterli</p>
  </div>
</footer>
